:host {
    display: inline-block;
    .button-group {
        display: flex;
        justify-content: center;
        align-items: center;

        &.round-none {
            border-radius: 0;
            overflow: hidden;
        }

        &.round-sm {
            border-radius: 0.25rem;
            overflow: hidden;
        }

        &.round-md {
            border-radius: 0.5rem;
            overflow: hidden;
        }

        &.round-lg {
            border-radius: 0.75rem;
            overflow: hidden;
        }

        &.round-xl {
            border-radius: 1rem;
            overflow: hidden;
        }

        &.round-full {
            border-radius: 9999px;
            overflow: hidden;
        }
    }
}