.drawer {
  position: fixed;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 1000;
  pointer-events: none;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  left: -100%;

  &.open {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: auto;

    &.fade {
      animation-name: drawerFadeOpenAnimation;
    }

    &.scale {
      animation-name: drawerScaleOpenAnimation;
    }

    &.slide-top {
      animation-name: drawerSlideTopAnimation;
    }

    &.slide-bottom {
      animation-name: drawerSlideBottomAnimation;
    }

    &.slide-left {
      animation-name: drawerSlideLeftAnimation;
    }

    &.slide-right {
      animation-name: drawerSlideRightAnimation;
    }
  }

  &.primary {
    background-color: var(--primary);
  }

  &.secondary {
    background-color: var(--secondary);
  }

  &.success {
    background-color: var(--success);
  }

  &.warning {
    background-color: var(--warning);
  }

  &.danger {
    background-color: var(--danger);
  }

  &.info {
    background-color: var(--info);
  }

  &.light {
    background-color: var(--light);
  }

  &.dark {
    background-color: var(--dark);
  }

  .drawer-content {
    padding: 1rem;
  }
}

@keyframes drawerFadeOpenAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes drawerScaleOpenAnimation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes drawerSlideTopAnimation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes drawerSlideBottomAnimation {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes drawerSlideLeftAnimation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes drawerSlideRightAnimation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
