.drawer {
  position: fixed;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 1000;
  pointer-events: none;
  animation-duration: 0.3s;
  transform: scale(0.8);
  animation-fill-mode: both;

  &.overlay:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
  }

  &.overlay.open:before {
    opacity: 1;
  }

  &.top,
  &.bottom {
    width: 100%;
  }

  &.left,
  &.right {
    height: 100%;
  }

  &.top {
    top: -100%;
  }

  &.right {
    right: -100%;
  }

  &.bottom {
    bottom: -100%;
  }

  &.left {
    left: -100%;
  }

  &.open {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: auto;

    &.fade {
      animation-name: drawerFadeOpenAnimation;
    }

    &.scale {
      animation-name: drawerScaleOpenAnimation;
    }

    &.slide-top {
      animation-name: drawerSlideTopAnimation;
    }

    &.slide-bottom {
      animation-name: drawerSlideBottomAnimation;
    }

    &.slide-left {
      animation-name: drawerSlideLeftAnimation;
    }

    &.slide-right {
      animation-name: drawerSlideRightAnimation;
    }

  }

  &.close {
    &.fade {
      animation-name: drawerFadeCloseAnimation;
    }

    &.scale {
      animation-name: drawerScaleCloseAnimation;
    }

    &.slide-top {
      animation-name: drawerSlideTopCloseAnimation;
    }

    &.slide-bottom {
      animation-name: drawerSlideBottomCloseAnimation;
    }

    &.slide-left {
      animation-name: drawerSlideLeftCloseAnimation;
    }

    &.slide-right {
      animation-name: drawerSlideRightCloseAnimation;
    }
  }

  &.primary {
    background-color: var(--primary);
  }

  &.secondary {
    background-color: var(--secondary);
  }

  &.success {
    background-color: var(--success);
  }

  &.warning {
    background-color: var(--warning);
  }

  &.danger {
    background-color: var(--danger);
  }

  &.info {
    background-color: var(--info);
  }

  &.light {
    background-color: var(--light);
  }

  &.dark {
    background-color: var(--dark);
  }

  .drawer-content {
    padding: 1rem;
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes drawerFadeOpenAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes drawerFadeCloseAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes drawerScaleOpenAnimation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes drawerScaleCloseAnimation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes drawerSlideTopAnimation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes drawerSlideTopCloseAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes drawerSlideBottomAnimation {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes drawerSlideBottomCloseAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes drawerSlideLeftAnimation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes drawerSlideLeftCloseAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes drawerSlideRightAnimation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes drawerSlideRightCloseAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}